extends layout

block content
  div.postContainer
  - for (var i = count-1; i >= 0; i--) {
    - if (post[i].type == "text") {
    div.postBox(style="border-width:5px;border-style:solid;")
      div.bigTitle!=post[i].title
      div.normalText!=post[i].content
      div.tagContainer
      - for (var j = 0; j < post[i].tags.length; j++) {
        - if (post[i].tags[j] != "") {
          a.tag(href="/tag/"+post[i].tags[j])!="#"+post[i].tags[j]+"  "
        - }
      - }
      br
      a.urlLink(href="/postId/"+post[i]._id)!="Permanent URL Link"
    - }
    - if (post[i].type == "image") {
    div.postBox(style="border-width:5px;border-style:solid;")
      div.bigTitle!=post[i].title
      - for (var j = 0; j < post[i].content.length; j++) {
        a.imgLink(href=post[i].content[j])
          img.postImg(src=post[i].content[j] style="max-width:100%;")
      - }
      div.normalText!=post[i].caption
      div.tagContainer
      - for (var j = 0; j < post[i].tags.length; j++) {
        - if (post[i].tags[j] != "") {
          a.tag(href="/tag/"+post[i].tags[j])!="#"+post[i].tags[j]+"  "
        - }
      - }
      br
      a.urlLink(href="/postId/"+post[i]._id)!="Permanent URL Link"
    - }
  - }
  a.pageButton(href="/page/"+(page+1))!="Next Page"
  - if (page > 1) {
    a.pageButton(href="/page/"+(page-1))!="Previous Page"
  - }