extends layout

block content
  div.newPostHeader
    a(href="/Text" style="width: 33.33%;text-decoration:none;font-size:25px;")
      div.newPostButton(style="background:#e7adff;") New Text Post
    a(href="/Image" style="width: 33.33%;text-decoration:none;font-size:25px;")
      div.newPostButton(style="background:#adffe2;") New Image Post
    a(href="/Search" style="width: 33.33%;text-decoration:none;font-size:25px;")
      div.newPostButton(style="background:#BBBBBB;") Search By Tag
  div.postContainer
    - for (var i = count-1; i >= 0; i--) {
      - if (post[i].type == "text") {
      div.postBox
        - if (post[i].references != 0) {
          - for (var j = 0; j < post[i].references.length; j++) {
            a.references(href="/postId/"+post[i].references[j])!=post[i].references[j]+"> "
            br
          - }
        - }
        div.contentBox
          div.titleBox
            div.bigTitle!=post[i].title
            div.normalText!="VIEWS: "+post[i].views
          div.normalText!=post[i].content
        div.idText(style="margin-top:5px;")!="ID: "+post[i]._id
        - if (post[i].tags != 0) {
          div.tagContainer
          - for (var j = 0; j < post[i].tags.length; j++) {
            - if (post[i].tags[j] != "") {
              a.tag(href="/tag/"+post[i].tags[j])!="#"+post[i].tags[j]+"  "
            - }
          - }
        - }
        br
        a.replyLink(href="/Reply/"+post[i]._id)!="REPLY"
        br
        a.urlLink(href="/postId/"+post[i]._id)!="Permanent URL Link"
      - }
      - if (post[i].type == "image") {
      div.postBox
        - if (post[i].references != 0) {
          - for (var j = 0; j < post[i].references.length; j++) {
            a.references(href="/postId/"+post[i].references[j])!=post[i].references[j]+"> " 
            br
          - }
        - }
        div.contentBox
          div.titleBox
            - if (post[i].nsfw == "true") {
              div.bigTitle!=post[i].title+" [NSFW]"
            - }
            - if (post[i].nsfw != "true") {
              div.bigTitle!=post[i].title
            - }
            div.normalText!="VIEWS: "+post[i].views
          - for (var j = 0; j < post[i].content.length; j++) {
            a.imgLink(href=post[i].content[j])
              - if (post[i].nsfw == "true") {
                img.postImg(src=post[i].content[j], style="filter:blur(25px);padding:25px;")
              - }
              - if (post[i].nsfw != "true") {
                img.postImg(src=post[i].content[j])
              - }
          - }
          div.normalText!=post[i].caption
        div.idText(style="margin-top:5px;")!="ID: "+post[i]._id
        div.tagContainer
        - for (var j = 0; j < post[i].tags.length; j++) {
          - if (post[i].tags[j] != "") {
            a.tag(href="/tag/"+post[i].tags[j])!="#"+post[i].tags[j]+"  "
          - }
        - }
        br
        a.replyLink(href="/Reply/"+post[i]._id)!="REPLY"
        br
        a.urlLink(href="/postId/"+post[i]._id)!="Permanent URL Link"
      - }
    - }
    - if (pageIdentifier == "single") {
      - if (count == 1 && postChild != null) {
        - for (var i = countChild-1; i >= 0; i--) {
          - if (postChild[i].type == "text") {
          div.postBoxComment
            - if (postChild[i].references != 0) {
              - for (var j = 0; j < postChild[i].references.length; j++) {
                a.references(href="/postId/"+postChild[i].references[j])!=postChild[i].references[j]+"> "
                br
              - }
            - }
            div.contentBox
              div.titleBox
                div.bigTitle!=postChild[i].title
                div.normalText!="VIEWS: "+postChild[i].views
              div.normalText!=postChild[i].content
            div.idText(style="margin-top:5px;")!="ID: "+postChild[i]._id
            div.tagContainer
            - for (var j = 0; j < postChild[i].tags.length; j++) {
              - if (postChild[i].tags[j] != "") {
                a.tag(href="/tag/"+postChild[i].tags[j])!="#"+postChild[i].tags[j]+"  "
              - }
            - }
            br
            a.replyLink(href="/Reply/"+postChild[i]._id)!="REPLY"
            br
            a.urlLink(href="/postId/"+postChild[i]._id)!="Permanent URL Link"
          - }
          - if (postChild[i].type == "image") {
          div.postBoxComment
            - if (postChild[i].references != 0) {
              - for (var j = 0; j < postChild[i].references.length; j++) {
                a.references(href="/postId/"+postChild[i].references[j])!=postChild[i].references[j]+"> " 
                br
              - }
            - }
            div.contentBox
              div.titleBox
                - if (postChild[i].nsfw == "true") {
                  div.bigTitle!=postChild[i].title+" [NSFW]"
                - }
                - if (postChild[i].nsfw != "true") {
                  div.bigTitle!=postChild[i].title
                - }
                div.normalText!="VIEWS: "+postChild[i].views
              - for (var j = 0; j < postChild[i].content.length; j++) {
                a.imgLink(href=postChild[i].content[j])
                  - if (postChild[i].nsfw == "true") {
                    img.postImg(src=postChild[i].content[j], style="filter:blur(25px);padding:25px;")
                  - }
                  - if (postChild[i].nsfw != "true") {
                    img.postImg(src=postChild[i].content[j])
                  - }
              - }
              div.normalText!=postChild[i].caption
            div.idText(style="margin-top:5px;")!="ID: "+postChild[i]._id
            div.tagContainer
            - for (var j = 0; j < postChild[i].tags.length; j++) {
              - if (postChild[i].tags[j] != "") {
                a.tag(href="/tag/"+postChild[i].tags[j])!="#"+postChild[i].tags[j]+"  "
              - }
            - }
            br
            a.replyLink(href="/Reply/"+postChild[i]._id)!="REPLY"
            br
            a.urlLink(href="/postId/"+postChild[i]._id)!="Permanent URL Link"
          - }  
        - }
      - }
    - }
    - if (pageIdentifier == "paginated") {
      a.pageButton(href="page/"+(page+1))!="Next Page"
      - if (page > 1) {
        a.pageButton(href="page/"+(page-1))!="Previous Page"
      - }
    - }